body{
    background-color: #282b2b;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

h1 {
    text-align: center;
    font-weight: 100;
    line-height: 1.3;
    font-size: 4.2rem;
    line-height: 110%;
    margin: 2.8rem 0 1.68rem 0;
}

input{
    width:100%;
    height: 75px;
    border-radius: 0.5em 0 0 0.5em;
    border: solid 2px black;
    font-size: 24px;
}

.container{
    margin: auto;
    width: 70%;
}

.column{
    display: table-cell;
    padding: 25px;
    height: 25px;
    background-color: grey;
    text-align: center;
    font-size: 24px;
    border-radius: 0.5em;
    border: solid 2px black;
}
.celcius{
    width:10%;
    border-radius: 0 0.5em 0.5em 0;
}

.clearfix {
    overflow: auto;
}
.row{
    display: table;
    width: 90%; 
    table-layout: fixed; 
    border-spacing: 5px;
}
